In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import json

In [2]:
ticker = yf.Ticker("005930.KS")
hist_data = ticker.history(period="max")
hist_data.to_csv("samsung_stock.csv")

In [3]:
hist_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2000-01-04 00:00:00+09:00,4205.911160,4283.019531,3967.576194,4283.019531,74195000,0.0,0.0
2000-01-05 00:00:00+09:00,4065.713547,4247.969671,3869.437721,3911.496826,74680000,0.0,0.0
2000-01-06 00:00:00+09:00,4030.666191,4051.695754,3911.498669,3939.538086,54390000,0.0,0.0
2000-01-07 00:00:00+09:00,3897.477712,3974.586084,3757.280672,3883.458008,40305000,0.0,0.0
2000-01-10 00:00:00+09:00,3925.518272,4044.685791,3911.498564,4044.685791,46880000,0.0,0.0
...,...,...,...,...,...,...,...
2026-02-04 00:00:00+09:00,163500.000000,169400.000000,163100.000000,169100.000000,29943042,0.0,0.0
2026-02-05 00:00:00+09:00,162000.000000,164000.000000,158500.000000,159300.000000,38435228,0.0,0.0
2026-02-06 00:00:00+09:00,154100.000000,160300.000000,151600.000000,158600.000000,36358081,0.0,0.0
2026-02-09 00:00:00+09:00,168600.000000,168700.000000,165000.000000,166400.000000,25098971,0.0,0.0
2026-02-10 00:00:00+09:00,167400.000000,168100.000000,165500.000000,166700.000000,14079234,0.0,0.0

In [4]:
hist_data.index = hist_data.index.tz_localize(None)

In [5]:
hist_data = hist_data.reset_index()
hist_data['Date'] = pd.to_datetime(hist_data['Date'])

In [6]:
invalid_price = hist_data[
    (hist_data['Low'] > hist_data['High']) |
    (hist_data['Open'] > hist_data['High']) |
    (hist_data['Close'] > hist_data['High']) |
    (hist_data['Open'] < hist_data['Low']) |
    (hist_data['Close'] < hist_data['Low'])
]

In [7]:
hist_data.shape

(6530, 8)

In [8]:
# Chuyển DataFrame sang danh sách JSON (dạng records)
json_data = hist_data.to_json(orient='records', date_format='iso', indent=4)

# Lưu ra file
with open('hist_data_cleaned.json', 'w', encoding='utf-8') as f:
    f.write(json_data)

In [9]:
# Chỉ lấy những ngày có sự kiện đặc biệt
events_json = hist_data[
    (hist_data['Dividends'] > 0) | (hist_data['Stock Splits'] > 0)
].to_json(
    orient='records',
    date_format='iso'
)
with open('samsung_special_events.json', 'w', encoding='utf-8') as f:
    f.write(events_json)

In [10]:
import os

# 2. Set the target path (macOS local)
target_path = "/Users/nguyentoan/Documents/AI_Financial_RAG/Data" 
# Create folder if not exists
os.makedirs(target_path, exist_ok=True)

# 3. List of files to save
files_to_upload = {
    "hist_data_cleaned.json": json_data,
    "samsung_special_events.json": events_json
}

# 4. Save files
for file_name, content in files_to_upload.items():
    full_path = os.path.join(target_path, file_name)
    with open(full_path, "w", encoding="utf-8") as f:
        f.write(content)
    print(f"✅ Successfully saved: {full_path}")

print("\n--- Data preparation for AI Analyst completed ---")

✅ Successfully saved: /Users/nguyentoan/Documents/AI_Financial_RAG/Data/hist_data_cleaned.json
✅ Successfully saved: /Users/nguyentoan/Documents/AI_Financial_RAG/Data/samsung_special_events.json

--- Data preparation for AI Analyst completed ---